body{
    font-size: 18px;
    margin: 0;
}
/* fonts */
h1, h2, h3, h4, button, a{
    font-family: "Fraunces", serif;
}
.navItem, p{
    font-family: "Barlow";
    font-weight: 600;
}
p, .testimonialContainer h3{
    color: hsl(232, 10%, 55%)
}
/* basic font size */
nav{
    font-size: 18px;
}
/* navigation section */
nav{
    margin: 0;
    padding: 40px 0px 0 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
    
}
.logo, button{
    height: 50px;
    width: auto;
}
button{
    padding: 0 20px;
    border-radius: 25px;
    border: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(198, 62%, 26%);
    text-transform: uppercase;
    font-weight: 700;
}

.navItemContainer{
    width: 100vw;
    display: flex;
    flex-basis: 700px;
    flex-direction: row-reverse;
}
.navItem{
    padding: 0 30px;
    text-align: right;
    color: hsl(0, 0%, 100%);
}

/* hovers */
.navItem:hover, a:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
/* hero section */
.hero{
    height: 100vh;
    margin-top:-40vh;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y: center;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    z-index: 0;
    
}
/* tiles */
.tileContainer{
    display: flex;
    flex-wrap: wrap;
}
.tile{
    flex-basis: 50vw;
    height: auto;
    
}
.image{
    background-repeat: no-repeat;
    height: 300px;
}
.tile-text{
    padding: 30px 50px;
}
.tile2{
    background-image: url("images/desktop/image-transform.jpg");
}
.tile3{
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

/* testimonial */
.testimonialContainer{
    text-align: center;
}
.testimonialContainer h3{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.testimonialContents, .testimonial{
    display: flex;
}
.testimonialContents{
    flex-direction: row;
    justify-content: space-around;
}
.testimonial{
    padding: 20px;
    flex-direction: column;
    width: 25vw;
    /* border: 1px solid black; */
    align-items: center;
}
.testimonial img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.testimonial h4 {
    margin-bottom: 5px;
}
.job{
    margin-top: 0;
}

/* attribution section */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }