body{
    font-size: 18px;
    margin: 0;
}
/* fonts */
h1, h2, h3, h4, button, a{
    font-family: "Fraunces", serif;
}
.navItem, p, .footerItem{
    font-family: "Barlow";
    font-weight: 600;
}
p, .testimonialContainer h3{
    color: hsl(232, 10%, 55%);
}
/* basic font size */
nav{
    font-size: 18px;
}
/* navigation section */
nav{
    margin: 0;
    padding: 40px 0px 0 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
    
}
.logo, button, .menu{
    height: 50px;
    width: auto;
}
button{
    padding: 0 20px;
    border-radius: 25px;
    border: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(198, 62%, 26%);
    text-transform: uppercase;
    font-weight: 700;
}
.menu{
    visibility: hidden;
}
.navItemContainer{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-basis: 700px;
    flex-direction: row;
    /* align-items: baseline; */
    align-items: flex-end;
}
.navItem{
    padding: 0 30px;
    text-align: right;
    color: hsl(0, 0%, 100%);
}

/* hovers */
.navItem:hover, a:hover, .underline:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
.underline:hover{
    opacity: 1;
}

.social a:hover{
    background-color:hsl(0, 0%, 100%);
}
/* hero section */
.hero{
    height: 100vh;
    margin-top:-40vh;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y: center;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    z-index: 0;
    
}
/* tiles */
.tileContainer{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -16.5px; */
}
.tile{
    width: 50%;
    height: 700px;
    /* border: 1px solid red; */
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
}
.tile-text{
    padding: 25vh 10vw;
}
.tile-text-img{
    padding: 40vh 15vw 0 15vw;
    text-align: center;
}
/* hyperlinks */
a{
    text-decoration: none;
}

.learn1, .learn2{
    border-radius: 5px;
    text-decoration: none;
}
.underline{
    width: 120px;
    opacity: 0.7;
    position: relative;
    left: -9px;
    top: -8px;
    /* Need the position of the line and the hover*/
}
.learn1{
    border-bottom: 10px solid hsl(51, 100%, 49%);    
}
.learn2{
    border-bottom: 10px solid hsl(7, 99%, 70%);
}
.tile1 h2, .tile4 h2{
    color: hsl(212, 27%, 19%);
}
.tile2{
    background-image: url("images/desktop/image-transform.jpg");
}
.tile3{
    background-image: url("images/desktop/image-stand-out.jpg");
}
.tile5{
    background-image: url("images/desktop/image-graphic-design.jpg");
}
.tile5 p, .tile5 h2{
    color:hsl(167, 40%, 24%);
}
.tile6{
    
    background-image: url("images/desktop/image-photography.jpg");
}
.tile6 p , .tile6 h2{
    color: hsl(198, 62%, 26%);
}

/* testimonial */
.testimonialContainer{
    padding: 80px 0;
    text-align: center;
}
.testimonialContainer h3{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.testimonialContents, .testimonial{
    display: flex;
}
.testimonialContents{
    flex-direction: row;
    justify-content: space-around;
}
.testimonial{
    padding: 20px;
    flex-direction: column;
    width: 25vw;
    /* border: 1px solid black; */
    align-items: center;
}
.testimonial img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.testimonial h4 {
    margin-bottom: 5px;
}
.job{
    margin-top: 0;
}

/* image container */
.imageContainer{
    width: 100vw;
    display: flex;
    flex-direction:row;
}
.imageSlide{
    width: 25vw;
}
/* social */
.social ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
li{
    margin-right: 20px;
}
li:hover{
    background-color: white;
    cursor: pointer;
}
/* footer */
footer{
    margin-top: -5px;
    padding: 30px 0;
    background-color: hsl(168, 34%, 41%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.siteMap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.siteMap{
    margin-bottom: 50px;
}
.footerItem, .socialIcon{
    text-align: center;
    color: hsl(168, 34%, 41%);
    margin: 0 30px;
}

/* responsive design */
@media screen and (max-width: 375px){
    body{
        width: 100vw;
    }
    nav{
        padding-top: 0;
        /* padding: 3vh 3vw; */
        justify-content: baseline;
    }
    .logo, .menu{
        height: 4vh;
        width: auto;
        margin: auto;
    }
    .menu{
        visibility: visible;
        
    }
    .hero{
        background-image: url("images/mobile/image-header.jpg");
        margin-top: -168px;
    }
    
    .navItemContainer{
        visibility: visible;
        flex-direction: column;
        position: absolute;
        top: 15vh;
        flex-basis: 200px; /* not sure if it's needed */
        width: 85vw;
        height: 250px;
        background-color: hsl(0, 0%, 100%);;
        align-items: center;
        z-index: 1;

        /* width has to be bigger and the right upper part is unfinished */
    }
    .navItem{
        color: hsl(232, 10%, 55%);
        
    }
    button{
        visibility: visible;
        background-color: hsl(51, 100%, 49%);
    }
    /* tiles */
    .tileContainer{
        flex-wrap: nowrap;
        flex-direction: column;
        
    }
    .tile{
        width: 100vw;
        height: 50vh;
        justify-content: center;
    }
    .tile-text{
        padding: 2vh 3vw;
        text-align: center;
    }.underline{
        margin: auto;
        position: static
    }
    .tile2{
        background-image: url("images/mobile/image-transform.jpg");
        
    }
    .tile3{
        background-image: url("images/mobile/image-stand-out.jpg");
    }
    .tile5{
        background-image: url("images/mobile/image-graphic-design.jpg");
        height: auto;
    }
    .tile6{
        background-image: url("images/mobile/image-photography.jpg");
        height: auto;
    }
    /* testimonials */
    
    .testimonialContents{
        flex-direction: column;
    }
    .testimonial{
        width: 100vw;
    }

    /* images */
    .imageContainer{
        flex-wrap: wrap;
        
    }
    
    .imageSlide{
        width: 50vw;
        height: auto;

    }
    .lowerBox{
        margin-top: -5px;
    }
    /* footer */
    footer{
        background-color: hsl(168, 34%, 70%);
    }
    .footerLogo{
        width: 50vw;
        height: auto;
        margin: auto;
        /* background-color: hsl(213, 9%, 39%);  */
    }
    .social, .siteMap{
        margin: 20px auto;
    }
    .footerItem, .socialIcon{
        margin: 0 10px;
    }
}

/* attribution section */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }